/*_____________________________________Styling All_____________________________________*/
*{
    margin: 0;
    padding: 0;
} 
ul{
    list-style: none;
}  
a{
    text-decoration: none;
}
body{
    background-color: rgb(90, 88, 88);
    font: 400 1rem 'DM Sans', sans-serif;;
}
/*_____________________________________Styling Variables_____________________________________*/
:root{
    /*Colors*/
    --border-color: #A17800;
    --button-gradient-color:-webkit-linear-gradient(left,  #f6e6b4 0%,#ed9017 100%);
    --button-gradient-reverse-color:-webkit-linear-gradient(left,  #ed9017 0%,#f6e6b4 100%);
}
/*_____________________________________Styling Header_____________________________________*/
header{
    background-color: #333333BB;
    overflow: hidden;
    position: sticky;
    top: 0;
}
.topnav a, .logo{
    float: right;
    color: white;
    padding: 14px 16px;
}
.topnav{
    margin-right: 7rem;
}
.topnav a:hover{
    background-color: var(--border-color);
    color: black;
}
.logo{
    float: left;
    margin-left: 7rem;
}
.logo span,
.contact-logo{
    padding: 3px;
    border-radius: 3px;
    background: var(--button-gradient-color);
    color: black;
}
.logo span:hover,
.contact-logo:hover{
    box-shadow: 5px 10px 18px #888888;
    transform: translateY(-2px);
    transition: 0.4s;
}
/*_____________________________________Styling Home_____________________________________*/
#Home{
    background: url(./images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 750px;
}
.main-box, .cards{
    max-width: 1000px;
    background-color: #333333BB;
    height: 600px;
    
    margin: auto;
    margin-top: 3rem;
    
    border-radius: 15px;
    border: 3px solid var(--border-color); 
}
.text-box{
    position: absolute;
    margin-top: 8rem;
    margin-left: 40px;
    max-width: 500px;
    
    color: white;
    text-align: justify;
}
.text-box h2, p{
    padding-bottom: 10px;
}
.button a{
    float: left;
    margin-top: 500px;
    margin-left: 180px;
    
    padding: 14px 16px;
    border-radius: 15px;
    
    background: var(--button-gradient-color);
    color: black;
}
.button a:hover{
    transition: 0.8s;
    transform: translateY(-2px);
    background: var(--button-gradient-reverse-color);
    box-shadow: 5px 10px 18px #888888;
    
}
.circle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    
    margin-left: 37rem;
    margin-top: 6rem;
    
    background: url(./images/female-lawyer.jpg);
    background-position: 19rem;
    background-size: cover;
}
/*_____________________________________Styling About_____________________________________*/
#about{
    height: 500px;
}
.cards{
    height: 400px;
    padding: 16px;
    text-align: center;
    box-shadow: 5px 10px 18px #383737;
}
.card{
    display: inline-block;
    padding: 8px;
    margin: 12px;
    margin-top: 1rem;
    
    height: 350px;
    width: 250px;
    
    border: 1px solid var(--border-color);
    border-radius: 15px;
    
    background: #615e5ebb;
}
.card:hover{
    transform: translateY(-8px);
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 5px 10px 18px #888888;
    
}
.about-text{
    text-align: justify;
    margin-top: 25px;
}
.about-img{
    padding: 10px;
    width: 200px;
    height: 100px;
    
    margin: auto;
    margin-top: 25px;
    
    border: 1px solid var(--border-color);
    border-radius: 15px;
}
#about-img1{
    background: url(./images/forum.jpg);
    background-position: center;
    background-size: cover;
}
#about-img2{
    background: url(./images/justice.jpg);
    background-repeat: no-repeat;
    background-position-y: -80px;
    background-size: cover;
}
#about-img3{
    background: url(./images/law-books.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*_____________________________________Styling Ocupation_____________________________________*/
#ocupation{
    background: url(./images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 750px;
}
.ocupation-circle{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    
    display: inline-block;
    
    margin-top: 1rem;
    margin-left: 15%;
    background: #615e5ebb;
}
.ocupation-circle-down{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    
    display: inline-block;
    
    margin-left: 36%;
    background: #615e5ebb;
}
.ocupation-img{
    width: 150px;
    height: 150px;
    
    margin: auto;
    margin-top: 25px;
    
    border: 1px solid var(--border-color);
    border-radius: 50%;
    background: white;
}
/*_____________________________________Styling Contact Ocupation_____________________________________*/
#contact{
    background: #615e5e;
    height: 400px;
    border-top: 1px solid var(--border-color);
}
.card-contact{
    display: inline-block;
    padding: 8px;
    margin-left: 30%;
    margin-top: 10%;
    
    width: 450px;
    
    background: #3a3939bb;
    box-shadow:20px 20px 50px;
    border-radius: 2px;
}
.contact-img{
    float: right;
    padding: 10px;
    width: 50px;
    height: 50px;
    
    margin: 10px;
    margin-left: auto;
    
    border: 1px solid var(--border-color);
    border-radius: 15px;
    
    background: url(./images/contact-img.jpg);
    background-repeat: no-repeat;
}
.contact-img:hover{
    box-shadow: 3px 8px 10px #888888;
    transform: translateY(-2px);
    transition: 0.4s;
    cursor: pointer;
}

#contact .card-contact span{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}
/* .logo span{
    padding: 3px;
    border-radius: 3px;
    background: var(--button-gradient-color);
    color: black;
}
.logo span:hover{
    box-shadow: 3px 8px 10px #888888;
    transform: translateY(-2px);
    transition: 0.4s;
} */




